<!DOCTYPE html>
<html lang="en-US" >
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript">
		
		var app1 = angular.module('test01', []);
		app1.controller('ctrl1', function( $scope ){
			
			//$scope.first = 1;
			//$scope.second = 1;
			
			$scope.updateValue = function () {
				$scope.calculation = $scope.first + " + " + $scope.second + " = " + ( +$scope.first + +$scope.second );
			};
			
		});
		
		
	</script>
<body ng-app="test01" 
	  ng-init="person = { fName: 'Dista', lName: 'Reza' }; capitals = [{country: 'Indonesia', city: 'Jakarta' }, {country: 'Malaysia', city: 'Kuala Lumpur'}, { country: 'Japan', city: 'Tokyo'}];">
	
	<div>
		Hello {{ person.fName + ' ' + person.lName }}		
	</div>
	
	<div ng-controller="ctrl1">

		<span>first</span><input type="text" ng-model="first"/><br>
		<span>second</span><input type="text" ng-model="second"/><br/>
		<input type="button" value="sum" ng-click="updateValue()"/>
		<br/>
		{{ calculation }}
		<br/>
		<span> first Value : {{ first }}</span> 
		<br/>
		<span> second value </span><span data-ng-bind="second"></span>
		<br/>
		{{ first }} + {{ second }} = {{ +first + +second }}
		<br/>
	</div>
	
	<div>
		<ul>
			<li ng-repeat="capital in capitals"> {{ capital.city }}, {{ capital.country }}</li>
		<ul>
	</div>

</body>
</html>
